body {
    width: 100%;
    font-size: 14px;
}

a, a:focus, a:active, a:visited {
    color: #0000EE;
}

.btn-success,
.btn-error,
.btn-warning,
.btn-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.btn-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.btn-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.btn-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1366px;
}

.top-bar {
    height: 50px;
    line-height: 50px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
}

.top-bar .logo {
    margin-left: 10px;
    float:left;    
    height: 50px;
}

.top-bar .site-name {
    font-weight: 600;
    float: left;
    font-size: 22px;
}

.top-bar ul.nav-links {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: right;
}

.top-bar ul.nav-links > li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.content-wrapper {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.message-box {
    padding: 10px;
    display: block;
    display: none;
    max-width: 500px;
}

.message-box.error {
    background: salmon;
    color: white;
}

.message-box.success {
    background: lightgreen;
    color: white;
}

.message-box.normal {
    background: gray;
    color: white;
}

.message-box.warning {
    background: orange;
    color: white;
}

.message-box.attention {
    background: yellow;
    color: white;
}

.pure-form label {
    display: inline-block;
    width: 100px;
}

.pure-form .pure-control-group {
    margin-top: 10px;
}

.pure-form .pure-control-group:last-child {
    margin-top: 25px;
}

/*
* 
* GLOBAL COMPONANTS: MODAL, POPOVER, TOOLTIP ETC
*
*/

.popover-link {
    color: #0000EE;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.popover {
    position: absolute;
    z-index: 9999;
    display: none;
    padding: 10px;
    background:white;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: white;
    padding: 20px;
    position: absolute;
    border: 1px solid #fefefe;
    max-width: 600px;
    left: 30px;
    right: 30px;
    margin: 0 auto;
    top: 30%;
}

/*
*
* SPECIFIC PER PAGES
*/

.login-form label {
    width: 100px;
}

.register-form label {
    width: 120px;
}


.chat-groups-controller button {
    margin-right: 10px;
}

.chat-container {
    height: 100%;
    height: calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: -moz-calc(100% - 120px);
    position: relative;
}

.chat-messages-box, .chat-reply-box {
    padding: 10px;
}

.chat-controller {
    right: 0;
    left: 0;
    height: 55px;
}

.chat-controller input {
    display: inline-block !important;
}

.chat-controller h3 {
    display: inline-block;
}

.chat-controller .popover {
    position: absolute;
    box-shadow: 0px 0px 8px 2px #ddd;
    top: 40px;
}

.chat-messages-box {
    height: calc(100% - 200px);
    height: -webkit-calc(100% - 200px);
    height: -moz-calc(100% - 200px);
    min-height: 120px;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
}

.chat-reply-box {
}

.chat-reply-box textarea {
    height: 70px;
    width: 100% !important;
    margin-bottom: 5px;
    resize: none;
    border-radius: 3px;
}


